- const levelStyleUnfold = ["\207", '\207\207', '\207\207\207']
//- - const levelStyleUnfold = ["+", '++', '+++']
- const levelStyleFold = ['-', '-', '---']
- const levelColor = ['#4E9F3D','green',  '#1E5128']

- const infoStyleUnfold = '+'
- const infoStyleFold = "-"

mixin accordion(_array, level=0)
    .accordion(data-accordion)
        +accordion_list(_array, 0)

mixin accordion_list(_array, level)
    .accordion__list()
        each typeValue in _array
            .accordion__item(data-after=levelStyleUnfold[level])
                label.label(for=typeValue.title)
                    input(type='checkbox', id=typeValue.title) 
                    span(style=`--coloritto: ${levelColor[level]}`)= typeValue.title
                    if (typeValue.types !== undefined)
                        +accordion_list(typeValue.types, level+1)


mixin accordionInfo(_array)
    .accordion.accordion-info(data-accordion)
        +accordionInfo_list(_array)

mixin accordionInfo_list(_array)
    .accordion__list.accordion-info__list
        each typeValue in _array
            .accordion__item
                label.label(for=typeValue.title)
                    input(type='checkbox', id=typeValue.title) 
                    span(data-after-unfold=infoStyleUnfold, data-after-fold=infoStyleFold)= typeValue.title
                    +infoCard(typeValue.imgSrc, typeValue.text)
                    